# Postgres Configuration
POSTGRES__USER="your_db_user"
POSTGRES__PASSWORD="your_db_password"
POSTGRES__DB="project_dashboard"
POSTGRES__PROTOCOL="postgresql+asyncpg"
POSTGRES__HOST="localhost"
POSTGRES__PORT="5432"


# JWT Configuration
JWT__SECRET_KEY="replace_with_a_real_secret"
JWT__ALGORITHM='HS256'


# Document Configuration
DOCUMENT__MAX_PROJECT_STORAGE_BYTES = 500_000_000
DOCUMENT__ALLOWED_CONTENT_TYPES='[".pdf", ".docx"]'


# AWS Configuration
AWS__ACCESS_KEY_ID='replace_with_a_real_key'
AWS__SECRET_ACCESS_KEY='replace_with_a_real_secret'
AWS__REGION='real_region'
AWS__S3_BUCKET="your_bucket_name"