# Postgres Configuration
POSTGRES__USER="user"
POSTGRES__PASSWORD="password"
POSTGRES__DB="name"
POSTGRES__PROTOCOL="postgresql+asyncpg"
POSTGRES__HOST="localhost"
POSTGRES__PORT="5432"


# JWT Configuration
JWT__SECRET_KEY="replace-with-a-local-secret"
JWT__ALGORITHM='HS256'